/* Global */
:root {
  --primary: #CF3A3A;
  --light: #FFFFFF;
  --dark: #2C4251;
}


body {
  background-color: var(--dark);
  color: var(--light);

  font-size: 16px;
  font-family: "Georgia, Times, Raleway";
}

img{
  width: 100%;
  height: auto;
  border: solid 2px #333;
  border-radius: 12px;
}

.location{
  background-color: #2f4f4f;
  padding: 12px;
  border: 1px solid #555;
}

.page{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.container div:first-child, .container div:last-child{
  grid-column: 1 / -1;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: #222;
  color: #f8deb5;
}

h1 {
  font-size: 2.5em;
  font-family: 'Georgia', serif;
  color: #f8deb5;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-family: 'Georgia', serif;
  color: #f8deb5;
  text-align: center;
  text-decoration: underline;
}

h3 {
  font-size: 1.2em;
  font-family: 'Georgia', serif;
  color: #f8deb5;
}

p {
  font-size: 1em;
  font-family: 'Georgia', serif;
  line-height: 1.25;
  text-align: justify;
}

nav li{
  display:block ;
  padding: 10px;
}

nav a{
  color: #222;
  font-weight: bold;
  text-decoration: none; 
  padding: 6px;
  border: solid 2px #333;
  border-radius: 15px;
  background-color: #f8deb5;
}

nav{
  background-color: #f8deb5;
  padding: 7px; 
  text-align: left;
  animation: bgColorChange 4s;
}

@keyframes bgColorChange {
  from {background-color: #f8deb5;}
  to {background-color: #222;} 
}

footer{
  background-color: #222;
  color: #f8deb5;
  padding-top: 25px;
  text-align: center;
}

.text-overlay{
  background-color: rgba(248, 222, 181, 0.7);
  border: 8px solid #333;
  padding: 25px;
}

.skip{
  display: none;
}

.current{
  padding: 8px;
  background-color: #006400;
  color: #f8deb5;
  text-decoration: underline;
  text-transform:uppercase;
}

/* Desktop styles */
@media screen and (min-width: 800px) {
  nav li{
    display:inline;
    padding-right: 15px;
  }

  nav{
    text-align: right;
    padding: 20px 0px;
  }
  .skip a:focus{
    top: 15px;
  }
  .skip a{
    background: #f8deb5;
    left: 0;
    padding: 5px;
    transition: top 0.8s ease-out;
    z-index: 1;
    position: absolute;
    top: -35px;
  }
  *:focus{
    border: solid #333 2px;
  }
  nav a:hover, nav a:focus{
    text-decoration: underline;
    border: dashed 2px #333;
  }
  img{
    width: 280px;
  }
}


@media screen and (prefers-reduced-motion: reduce){
  html{
    scroll-behavior: auto; 
  }
  nav{
    animation: none;
  }

  .skip {
    display: block;
  }

  .skip a:focus {
    top: 15px;
  }

  .skip a {
    background: #f8deb5;
    left: 0;
    padding: 5px;
    transition: top 0.8s ease-out;
    z-index: 1;
    position: absolute;
    top: -35px;
  }

  .animated-gif{
    display: none;
  }
}
