body {
    background-color: darkslategrey;
    font: Arial;
    line-height: normal;
}
h1 {
    background-color: rebeccapurple;
    font: Arial; 
    font-size: medium;
    line-height: normal;
}

h2 {
    background-color: royalblue;
    font: Helvetica; 
    font-size: small;
    line-height: 1.25;
}


h3 {
    background-color: green;
    font: Georgia; 
    font-size: smaller;
    line-height: normal;
}



